<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.kandroid.app.hangulkeyboard"
      android:versionCode="5"
      android:versionName="1.4b">
    <uses-sdk android:minSdkVersion="3"></uses-sdk>     
    <application android:label="@string/ime_name" android:icon="@drawable/han">
        <service android:name="SoftKeyboard"
                android:permission="android.permission.BIND_INPUT_METHOD" >
                <intent-filter>
                	<action android:name="android.view.InputMethod"/>
            	</intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service> 
	</application>
</manifest> 

<!-- manifest 메니페스트 파일은 어플리케이션에 대한 전반적인 정보를 담고 있는 파일로, 안드로이드 시스템에서 어플리케이션의 정보를 알아내는데 사용합니다. -->
<!-- uses-sdk 어플리케이션에서 최소로 필요로 하는 sdk버전이다. 버전명이 아닌 API Level로 지정해야 한다. -->
<!-- application 메니페스트 파일에는 단 한개의 어플리케이션 태그가 있습니다. 이는 어플리케이션에 대한 정보 (어플리케이션 이름, 아이콘, 테마 등) 뿐 아니라 어플리케이션 내의 컴포넌트들에 대한 태그들을 포함합니다. -->
<!-- service 액티비티와 마찬가지로 서비스 또한 액티비티와 마찬가지로 각 서비스마다 서비스 태그를 정의해주어야 하며, 서비스를 실행할 수 있는 인텐트가 정의된 인텐트 필터를 포함할 수 있습니다. -->